<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkity - Log in</title>
    <link rel="stylesheet" href="/style/admin/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        
        <div class="left">
            <div class="login-box">
                <div class="logo-img">
                    <img src="/images/drinkity_text_no_bg.png" width="140px" height="70px">
                </div>
                <h2>Log in</h2>
                <p>Welcome back! Please enter your details.</p>
                <form class="form-login" action="/admin/login" method="POST">
                    <input type="email" id="email" name="email" placeholder="Enter your email" onkeyup="emailvalidate()">
                    <span id="emailError"></span>
                    <input type="password" id="password" name="password" placeholder="Enter your password" onkeyup="passwordvalidate()">
                    <span id="passwordError"></span>
                    <button onclick="verifySubmit()" type="submit">Log in</button>
                    <p style="color: red;"><%= msg %></p>
                </form>
            </div>
        </div>
        <div class="register-right">
            <div class="logo-container">
              <img src="/images/drinkity_logo_no_bg.png" alt="Drinkity Logo">
              <h2>Drinkity</h2>
              <p>Since 2024</p>
            </div>
        </div>
    </div>
    <script src="/script/admin/login.js"></script>
    <script src="/script/admin/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
