


.main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    position: fixed;
    width: 78%;
    top: 0;
    z-index: 1000;
    height: 70px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header-search-bar {
    display: flex;
    align-items: center;
}

.header-search-bar input[type="text"] {
    width: 280px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    padding-left: 15px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

.header-search-bar input[type="text"]:focus {
    border-color: #ff5e57;
}

.header-search-bar button {
    background-color: #ff5e57;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.header-search-bar button:hover {
    background-color: #ff4040;
}

.header-profile {
    display: flex;
    align-items: center;
    position: relative;
}

.header-profile img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: relative;
}

.settings-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 50px;
    z-index: 1000;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 1px solid #f0f0f0;
}

.dropdown-content a:hover {
    background-color: #f7f7f7;
}

/* .header-profile:hover .dropdown-content {
    display: block;
} */

.dropdown-content {
    border-radius: 5px;
    overflow: hidden;
}

.settings-btn svg {
    fill: #333;
    transition: fill 0.3s ease;
}

.settings-btn:hover svg {
    fill: #ff5e57;
}

