<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkity - Set New Password</title>
    <link rel="stylesheet" href="/style/user/change-password.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="login-box">
                <div class="logo-img">
                    <img src="/images/drinkity_text_no_bg.png" width="140px" height="70px">
                </div>
                <h2>Set new password</h2>
                <p>Please choose a new password for your account.</p>

                <p style="color: red;"><%= msg %></p>
                
                <form onsubmit="verifySubmit(event)" action="/change-password" method="POST">
                    <span style="color: red;" id="passError"></span>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" onkeyup="passwordvalidate()">
                    <span>Must be at least 5 characters.</span><br>
                    <span style="color: red;" id="cPassError"></span>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" onkeyup="cPasswordvalidate()">
                    <button type="submit">Reset password</button>
                </form>
                <p><a href="/login">Back to log in</a></p>
            </div>
        </div>
        <div class="register-right">
            <div class="logo-container">
              <img src="/images/drinkity_logo_no_bg.png" alt="Drinkity Logo">
              <h2>Drinkity</h2>
              <p>Since 2024</p>
            </div>
        </div>
    </div>
    <script src="/script/user/passwordReset.js"></script>

    <script>
        let passError = document.getElementById('passError')
        let cPassError = document.getElementById('cPassError')

        function passwordvalidate() {
            let password = document.getElementById('newPassword').value
            let regex = /^(?=.*[0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])[A-Za-z0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]{5,}$/
            if(!regex.test(password)){
                passError.innerHTML = 'Password must be at least 5 characters long, contain at least one number and one special character'
                return false 
            }
            passError.innerHTML = ''
            return true
        }




        function cPasswordvalidate() {
            let cPassword = document.getElementById('confirmPassword').value
            let password = document.getElementById('newPassword').value
            
            if(cPassword !== password){

                cPassError.innerHTML = 'Password not match'
                return false 
            }
            cPassError.innerHTML = ''
            return true
        }



        function verifySubmit(event) {
            let isPasswordValid = passwordvalidate();
            let isCPasswordValid = cPasswordvalidate();

            if (!isPasswordValid || !isCPasswordValid) {
                event.preventDefault();
            } 
        }
    </script>
</body>
</html>
