<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinkity - Forgot Password</title>
    <link rel="stylesheet" href="/style/user/forgott-password.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="login-box">
                <div class="logo-img">
                    <img src="/images/drinkity_text_no_bg.png" width="140px" height="70px">
                </div>
                <h2>Forgot password?</h2>
                <p>No worries, we’ll send you reset instructions.</p>
                <form onsubmit="verifySubmit(event)" class="form-forgot" action="/forgot-password" method="POST">
                    <span style="color: red;" id="emailError"></span>
                    <input type="email" id="email" name="email" placeholder="Enter your email" onkeyup="emailvalidate()">
                    <button type="submit">Reset password</button>
                </form>
                <p style="color: red;"><%= msg %></p>
                <p><a href="/login">Back to log in</a></p>
            </div>
        </div>
        <div class="register-right">
            <div class="logo-container">
              <img src="/images/drinkity_logo_no_bg.png" alt="Drinkity Logo">
              <h2>Drinkity</h2>
              <p>Since 2024</p>
            </div>
        </div>
    </div>
    <!-- <script src="/script/user/login.js"></script> -->
     <script>

        const emailError = document.getElementById('emailError')


        function emailvalidate() {
            let email = document.getElementById('email').value
            let regex = /^[a-zA-Z0-9._%+-]+@gmail\.com$/
            
            if(!regex.test(email)){
                
                emailError.innerHTML = 'Enter a valied email'
                return false 
            }
            emailError.innerHTML = ''
            return true
        }


        function verifySubmit(event) {
            let isEmailValid = emailvalidate();

            if (!isEmailValid ) {
                event.preventDefault();
            }
        }
     </script>
</body>
</html>
