<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Drinkity</title>
  <link rel="stylesheet" href="/style/user/userRegister.css"> 
</head>
<body>
  <div class="register-container">
    <div class="register-left">
      <div class="brand">
        <h1>Drinkity</h1>
      </div>
      <h2>Register</h2>
      <p>Welcome back! Please enter your details.</p>
      <form class="form" onsubmit="verifySubmit(event)" action="/register" method="POST">
        <label for="firstName">User Name*</label>
        <input type="text" id="username" name="userName" placeholder="Enter a Username" onkeyup="namevalidate()">
        <span id="nameError"></span>

        <label for="lastName">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email" onkeyup="emailvalidate()">
        <span id="emailError"></span>


        <label for="password">Password*</label>
        <input type="password" id="password" name="password" placeholder="Create a password" onkeyup="passwordvalidate()">
        <span id="passwordError"></span>

        <label for="confirmPassword">Confirm Password*</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Create a password" onkeyup="cPasswordvalidate()">
        <span id="cPasswordError"></span>


        <div class="terms">
          <input type="checkbox" id="terms" name="terms">
          <label for="terms">accept terms & condition and <a href="#">privacy policy</a></label>
        </div>

        <button type="submit" class="register-btn" >Register Now</button>
        <button type="button" id="google-sign-in-btn" class="google-btn">Sign in with Google</button>
        <p class="signin">Already have an account? <a href="/login">Sign in</a></p>
      </form>
    </div>
    <div class="register-right">
      <div class="logo-container">
        <img src="/images/drinkity_logo_no_bg.png" alt="Drinkity Logo">
        <h2>Drinkity</h2>
        <p>Since 2024</p>
      </div>
    </div>
  </div>


  <script src="/script/user/userRegister.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>



  <script>
    

    const clientId = "534928979090-nv4sgitnntqdoa0o6b61b6a2irpesmqa.apps.googleusercontent.com"

    function handleCredentialResponse(response) {
        const idToken = response.credential;
        console.log("Encoded JWT ID token:", idToken);

        
        axios.post('/google-signup', { token: idToken })
            .then(response => window.location.href = '/home')
            .catch(error => console.error('Error:', error));
    }


    window.onload = function() {
        google.accounts.id.initialize({
            client_id: clientId,
            callback: handleCredentialResponse,
        });

        google.accounts.id.renderButton(
            document.getElementById('google-sign-in-btn'),
            { theme: 'outline', size: 'medium' ,type: 'standard' } 
        );
    };
  </script>
</body>
</html>
