<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blinkit Clone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style/user/home/vendor.css">
    <link rel="stylesheet" type="text/css" href="/style/user/home.css">
</head>
<body>


<style>

</style>
<header> <%- include('partial/head') %></header>

<section class="philosophy container">
    <div class="row">
        <div class="col-12">
            <h1>Terms & Condition</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac urna auctor libero tempus scelerisque. 
                Phasellus ac viverra odio, vel placerat odio. Sed pharetra velit eu nisi consequat, a volutpat nisl maximus. 
                Suspendisse congue diam eleifend nisl interdum posuere. Phasellus ultricies dui eu nisl blandit facilisis. 
                Sed neque sem, ullamcorper vel urna id, ultricies vestibulum elit. In sodales turpis sit amet dolor luctus blandit. 
                Nunc tincidunt molestie tortor id laoreet. Fusce tincidunt vehicula finibus.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac urna auctor libero tempus scelerisque. Phasellus ac viverra odio, vel placerat odio. Sed pharetra velit eu nisi consequat, a volutpat nisl maximus. Suspendisse congue diam eleifend nisl interdum posuere. Phasellus ultricies dui eu nisl blandit facilisis. Sed neque sem, ullamcorper vel urna id, ultricies vestibulum elit. In sodales turpis sit amet dolor luctus blandit. Nunc tincidunt molestie tortor id laoreet. Fusce tincidunt vehicula finibus.

                Sed sed finibus justo. Mauris sodales bibendum odio eget lobortis. Curabitur tempus, odio a pellentesque eleifend, nulla mi fringilla magna, eget hendrerit elit dui ac lacus. Maecenas maximus ligula at quam gravida, vitae luctus dolor fermentum. Phasellus luctus dolor ac enim porttitor, sit amet iaculis lorem luctus. Aliquam erat volutpat. Nam eu consequat mauris, in tincidunt lectus. Ut vehicula dui odio, et pulvinar mi vulputate et.

                Phasellus eu iaculis orci. Curabitur at leo venenatis, imperdiet nisi nec, luctus felis. Nunc in est eget eros convallis placerat. Aenean in porttitor lacus, a viverra arcu. Maecenas at odio vel orci tristique tristique at a nunc. Vivamus suscipit lacinia tellus ut ornare. Fusce ac nisi vel magna hendrerit accumsan eget nec sapien. Ut aliquet viverra augue, et gravida tellus condimentum eget. Quisque semper commodo dictum. Donec in enim in lorem iaculis aliquam. Vestibulum ac eleifend orci, id vestibulum velit. Praesent sodales vulputate purus eu sollicitudin. Ut sed congue ante. Nunc iaculis eros sit amet consequat porta.

                Phasellus dictum, tortor a vestibulum rhoncus, neque odio porttitor mi, sit amet tristique mi leo et risus. Suspendisse eget accumsan mi, ut dapibus massa. Nunc dictum accumsan enim, nec imperdiet nulla blandit non. Integer molestie ex turpis, mattis feugiat arcu maximus pellentesque. Morbi sit amet erat vitae purus feugiat lobortis non eu neque. Pellentesque eu nunc commodo, volutpat orci nec, mattis orci. Aenean maximus eros diam, ut lobortis mi venenatis eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sit amet sem metus. Nunc porta tincidunt arcu, vel condimentum ante maximus non. Donec lobortis quam id elit commodo, sed fermentum sem tincidunt. Quisque ac lorem non lacus feugiat fermentum ut eu mauris.

                Nam non odio posuere, congue risus in, ultricies massa. Vestibulum pretium sit amet nisl quis tempus. Praesent sit amet eros porta, blandit metus eu, rutrum felis. Phasellus ac dolor cursus ex tempus congue. Vestibulum in lectus ultricies, dignissim augue nec, lobortis ipsum. Vestibulum iaculis libero sit amet ultrices dignissim. Duis scelerisque risus nec purus lobortis tempor.
            </p>
        </div>
    </div>
</section>

    
    <footer><%- include('partial/footer') %></footer>
</body>
</html>
