
    

<div class="sidebar">
  <div class="logo">
    <img src="/images/drinkity_text_no_bg.png" width="140px" height="70px">
  </div>
  <ul class="nav-list">
    <li><a href="#">Dashboard</a></li>
    <li><a href="/admin/sales-Report">Sales Report</a></li>
    <li><a href="/admin/products">Products</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/category">Categories</a></li>
    <li><a href="/admin/orders">Orders</a></li>
    <li><a href="/admin/coupon">Coupons</a></li>
    <li><a href="/admin/offers">Offers</a></li>
    <li><a href="#">Deals</a></li>
  </ul>
</div>

